<i class="fa fa-2x fa-times-circle" (click)="closeModal(true)"></i>
<h1 mat-dialog-title>Manage Blog</h1>
<div mat-dialog-content>
    <form fxLayout='column' #f="ngForm" type="post">
        <div class="row">
            <mat-form-field appearance="outline">
                <textarea rows="4" cols="100" matInput placeholder="Please add a title" type="text" name="title"
                    [(ngModel)]="blog.title" required></textarea>
                <mat-label>Title</mat-label>
                <mat-error>a title is required</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <textarea rows="4" cols="100" matInput placeholder="Please add a category" type="text" name="category"
                    [(ngModel)]="blog.category" required></textarea>
                <mat-label>Category</mat-label>
                <mat-error>a category is required</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-label>blog's image</mat-label>
            <mat-form-field appearance="outline">
                <input type="file" name="files" accept="image/*" (change)="blogsImage($event)">
                <img width="100%" *ngIf="imgName" [src]="imgName" class="image">
                <input style="display: none;" matInput placeholder="add image" type="text" name="image_url"
                    [(ngModel)]="blog.image_url" required />
                <mat-error>an image is required</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <input rows="4" cols="100" matInput placeholder="post_date" type="date" name="post_date"
                    [(ngModel)]="blog.post_date" required />
                <mat-label>set blog's date</mat-label>
                <mat-error>a date is required</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <textarea rows="4" cols="100" matInput placeholder="add a banner" type="text" name="banner"
                    [(ngModel)]="blog.banner" required></textarea>
                <mat-label>banner</mat-label>
                <mat-error>a banner is required</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <textarea rows="4" cols="100" matInput placeholder="body" type="text" name="body"
                    [(ngModel)]="blog.body" required></textarea>
                <mat-label>blog's body</mat-label>
                <mat-error>a body for the blog is required</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <textarea rows="4" cols="100" rows="4" cols="100" matInput placeholder="footing" type="text"
                    name="footing" [(ngModel)]="blog.footing"></textarea>
                <mat-label>footing</mat-label>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <input matInput placeholder="Author Name" type="text" name="authorName" [(ngModel)]="blog.authorName"
                    required />
                <mat-label>Author Name</mat-label>
                <mat-error>Author Name is required </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <input matInput placeholder="Author Title" type="text" name="author_title"
                    [(ngModel)]="blog.author_title" required />
                <mat-label>Author title</mat-label>
                <mat-error>Author title is required </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-label>author's profile image</mat-label>
            <mat-form-field appearance="outline">
                <input type="file" name="files" accept="image/*" (change)="authorsImage($event)">
                <img width="100%" *ngIf="authorImage" [src]="authorImage" class="image">
                <input style="display: none;" matInput placeholder="author's profile image" type="text"
                    name="authorImage" [(ngModel)]="blog.authorImage" required />
                <mat-error>add an image of your author</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <input matInput placeholder="Facebook" type="text" name="authorFacebook"
                    [(ngModel)]="blog.authorFacebook" />
                <mat-label>Author's Facebook profile</mat-label>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <input matInput placeholder="Twitter" type="text" name="authorTwitter"
                    [(ngModel)]="blog.authorTwitter" />
                <mat-label>Author's Twitter profile</mat-label>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <input matInput placeholder="linkedIn" type="text" name="authorLinkedIn"
                    [(ngModel)]="blog.authorLinkedIn" />
                <mat-label>Author's Linkedin profile</mat-label>
            </mat-form-field>
        </div>


        <div class="row">
            <div class='col col-md-6'>
                <button [disabled]='!f.valid' mat-raised-button color='primary' type="submit"
                    class="btn btn-outline-secondary btn-block" (click)="ManageBlog(blog)">Save</button>
            </div>
            <div class='col col-md-6'>
                <button mat-raised-button color='warn' type="button" class="btn btn-outline-danger btn-block"
                    (click)="Cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>