
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$interphase-frontend-primary: mat.define-palette(mat.$indigo-palette);
$interphase-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$interphase-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$interphase-frontend-theme: mat.define-light-theme((
  color: (
    primary: $interphase-frontend-primary,
    accent: $interphase-frontend-accent,
    warn: $interphase-frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($interphase-frontend-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
color: #f00;
}

.bigger-soustitle {
  font-size: 2.5rem !important;
}

.flex {
  display: flex !important;
}

.pt-1rem {
  padding-top: 1rem !important;
}

.pt-3rem {
  padding-top: 3rem !important;
} 

.pt-5rem {
  padding-top: 5rem !important;
} 

.pb-2rem {
  padding-bottom: 2rem !important;
}